<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>[冷汗]</string>
		<string>[发呆]</string>
		<string>[发怒]</string>
		<string>[吐]</string>
		<string>[呲牙]</string>
		<string>[哭]</string>
		<string>[害羞]</string>
		<string>[尴尬]</string>
		<string>[得意]</string>
		<string>[微笑]</string>
		<string>[惊讶]</string>
		<string>[抓狂]</string>
		<string>[撇嘴]</string>
		<string>[流泪]</string>
		<string>[睡]</string>
		<string>[色]</string>
		<string>[调皮]</string>
		<string>[酷]</string>
		<string>[闭嘴]</string>
		<string>[难过]</string>
		<string>[偷笑]</string>
		<string>[傲慢]</string>
		<string>[再见]</string>
		<string>[发奋]</string>
		<string>[可爱]</string>
		<string>[咒骂]</string>
		<string>[嘘]</string>
		<string>[困]</string>
		<string>[大兵]</string>
		<string>[惊恐]</string>
		<string>[憨笑]</string>
		<string>[折磨]</string>
		<string>[敲打]</string>
		<string>[晕]</string>
		<string>[流汗]</string>
		<string>[疑问]</string>
		<string>[白眼]</string>
		<string>[衰]</string>
		<string>[饥饿]</string>
		<string>[骷髅]</string>
		<string>[亲亲]</string>
		<string>[可怜]</string>
		<string>[右哼]</string>
		<string>[吓]</string>
		<string>[哈欠]</string>
		<string>[坏笑]</string>
		<string>[委屈]</string>
		<string>[安慰]</string>
		<string>[左哼]</string>
		<string>[快哭了]</string>
		<string>[抠鼻]</string>
		<string>[擦汗]</string>
		<string>[敬礼]</string>
		<string>[潜水]</string>
		<string>[石化]</string>
		<string>[糗大了]</string>
		<string>[鄙视]</string>
		<string>[阴险]</string>
		<string>[鬼脸]</string>
		<string>[鼓掌]</string>
		<string>[兵乓球]</string>
		<string>[剑]</string>
		<string>[加油]</string>
		<string>[叹气]</string>
		<string>[心碎]</string>
		<string>[无语]</string>
		<string>[梨]</string>
		<string>[汽车]</string>
		<string>[灯泡]</string>
		<string>[爱心]</string>
		<string>[狂汗]</string>
		<string>[生病]</string>
		<string>[示爱]</string>
		<string>[米饭]</string>
		<string>[船舵]</string>
		<string>[菜刀]</string>
		<string>[萝卜]</string>
		<string>[赞]</string>
		<string>[轮船]</string>
		<string>[飞机]</string>
		<string>[位子]</string>
		<string>[保龄球]</string>
		<string>[信用卡]</string>
		<string>[刷子]</string>
		<string>[勋章]</string>
		<string>[天平]</string>
		<string>[太阳]</string>
		<string>[小兵]</string>
		<string>[激光剑]</string>
		<string>[炸弹]</string>
		<string>[码表]</string>
		<string>[窗子]</string>
		<string>[篮子]</string>
		<string>[花]</string>
		<string>[钱包]</string>
		<string>[钻石]</string>
		<string>[锤子]</string>
		<string>[门]</string>
		<string>[雨伞]</string>
		<string>[雪花]</string>
		<string>[吉他]</string>
		<string>[唱片]</string>
		<string>[夜晚]</string>
		<string>[披萨]</string>
		<string>[收音机]</string>
		<string>[望远镜]</string>
		<string>[牙膏]</string>
		<string>[牙齿]</string>
		<string>[牛角包]</string>
		<string>[甜甜圈]</string>
		<string>[电话]</string>
		<string>[秒表]</string>
		<string>[红酒]</string>
		<string>[腿肉]</string>
		<string>[茶杯]</string>
		<string>[药]</string>
		<string>[行李箱]</string>
		<string>[购物袋]</string>
		<string>[键盘]</string>
		<string>[饼干]</string>
		<string>[下雨]</string>
		<string>[下雪]</string>
		<string>[不]</string>
		<string>[冰雹]</string>
		<string>[多云]</string>
		<string>[大风]</string>
		<string>[好]</string>
		<string>[对]</string>
		<string>[弱]</string>
		<string>[强]</string>
		<string>[手掌]</string>
		<string>[拳头]</string>
		<string>[握手]</string>
		<string>[支持]</string>
		<string>[溜]</string>
		<string>[爱你]</string>
		<string>[胜利]</string>
		<string>[闪电]</string>
		<string>[阴天]</string>
		<string>[雷电]</string>
	</array>
	<array>
		<dict>
			<key>expression_example_big</key>
			<string>举例</string>
		</dict>
		<dict>
			<key>expression_what_big</key>
			<string>疑问</string>
		</dict>
		<dict>
			<key>expression_hard_big</key>
			<string>辛苦了</string>
		</dict>
		<dict>
			<key>expression_study_big</key>
			<string>学习</string>
		</dict>
		<dict>
			<key>expression_love_big</key>
			<string>爱你</string>
		</dict>
		<dict>
			<key>expression_good_big</key>
			<string>棒棒哒</string>
		</dict>
		<dict>
			<key>expression_hi_big</key>
			<string>Hi</string>
		</dict>
		<dict>
			<key>expression_tks_big</key>
			<string>谢谢</string>
		</dict>
		<dict>
			<key>expression_omg_big</key>
			<string>惊吓</string>
		</dict>
		<dict>
			<key>expression_comeon_big</key>
			<string>加油</string>
		</dict>
		<dict>
			<key>expression_cry_big</key>
			<string>大哭</string>
		</dict>
		<dict>
			<key>expression_holiday_big</key>
			<string>放假</string>
		</dict>
		<dict>
			<key>expression_wrong_big</key>
			<string>我错了</string>
		</dict>
		<dict>
			<key>expression_angry_big</key>
			<string>生气</string>
		</dict>
		<dict>
			<key>expression_medicine_big</key>
			<string>吃药</string>
		</dict>
		<dict>
			<key>expression_night_big</key>
			<string>晚安</string>
		</dict>
	</array>
</array>
</plist>
